.container {
  margin: 48px 0;
}

.favorite {
  position: relative;
  margin-bottom: 48px;
  padding-bottom: 48px;

  border-bottom: 1px solid var(--lt-color-gray-300);

  @media screen and (min-width: 469px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.favorite__action {
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (max-width: 468px) {
    padding: 8px 8px;
    display: flex;
    align-items: center;
    color: var(--lt-color-white);
    border-radius: 8px;
    background-color: var(--lt-color-gray-700);
  }
}