@import "src/styles/mixins/tabs.mixin";

.spinner {
  margin: 120px auto;

  width: 48px;
  height: 48px;
}

.group {
  margin: 48px 0 72px;

  @media screen and (min-width: 769px) {
    display: flex;
    gap: 128px;
  }
}

.wrapper {
  position: relative;
  width: 100%;

  &__poster {
    position: relative;
    width: 100%;
  }
}

.info {
  width: 100%;

  @media screen and (max-width: 768px) {
    margin-top: 48px;
  }
}

.btn__add_card {
  margin-top: 60px;
}

.btn__prev_book {
  margin-top: 40px;
  color: var(--lt-color-gray-500);
  text-transform: none;
}

.tabs {
  @include tabs
}

.favoriteAction {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 8px;

  display: flex;
  align-items: center;

  color: var(--lt-color-white);
  border-radius: 8px;
  background-color: var(--lt-color-gray-700);
}

