.form {
  border: 1px solid var(--lt-color-gray-300);

  &__label {
    display: flex;
    align-items: center;
    height: 47px;

    &_input {
      padding: 16px 0 16px 16px;
      text-overflow: ellipsis;
    }

    &_icon {
      padding: 0 8px;

      display: flex;
      align-items: center;
      height: 100%;
    }

    &__bg {
      background-color: var(--lt-color-gray-200);
    }
  }
}