.items {
  &__link {
    padding: 20px;
    border-bottom: 1px solid var(--lt-color-gray-300);

    display: flex;
    align-items: center;
    column-gap: 16px;

    text-transform: none;

    img {
      flex-shrink: 0;

      width: 80px;
      height: 60px;

      object-fit: cover;
    }
  }
}