.container {
  position: absolute;
  margin-top: 8px;
  left: 0;
  right: 0;

  max-height: 557px;
  background-color: var(--lt-color-gray-100);
  border: 1px solid var(--lt-color-gray-300);
  overflow: auto;

  box-shadow: 0 20px 40px 0 rgb(0 0 0 / 20%)
}

.spinner {
  margin: 32px auto;

  width: 48px;
  height: 48px;
}

.results__btn {
  position: sticky;
  bottom: 0;

  display: block;

  text-transform: none;
  color: var(--lt-color-gray-500);

  border-top: 1px solid var(--lt-color-gray-300);
}