.container {
  margin: 48px 0;
}

.cart {
  position: relative;
  margin-bottom: 48px;
  padding-bottom: 48px;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--lt-color-gray-300);

  @media screen and (max-width: 468px) {
    flex-direction: column;
  }
}

.wrapper {
  display: flex;
  column-gap: 32px;

  @media screen and (max-width: 468px) {
    flex-direction: column;
  }
}

.poster {
  @media screen and (min-width: 469px) {
    width: 256px;
    height: 192px;
  }

  @media screen and (max-width: 468px) {
    width: 100%;
  }
}

.info {
  flex-shrink: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 32px;
}

.title {
  margin-top: 24px;

  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
}

.description {
  margin-top: 8px;

  font-size: 1.4rem;
  color: var(--lt-color-gray-500);
}

.control {
  display: flex;
  align-items: center;
  column-gap: 64px;

  @media screen and (min-width: 469px) and (max-width: 768px) {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.price {
  font-size: 2rem;
  font-weight: 600;

  @media screen and (min-width: 469px) and (max-width: 768px) {
    order: 2;
  }

  @media screen and (max-width: 468px) {
    position: absolute;
    bottom: 48px;
    right: 0;
  }
}