.container {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--lt-color-gray-100);
  border-bottom: 1px solid var(--lt-color-gray-300);

  @media screen and (min-width: 1120px) {
    padding: 24px 0;
  }

  @media screen and (max-width: 1119px) {
    padding: 24px;
    column-gap: 42px;
  }
}