.container {
  display: grid;
  column-gap: 32px;
  row-gap: 56px;

  @media screen and (min-width: 769px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 469px) and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}