.warning {
  margin: 32px auto;
  padding: 16px;

  font-weight: 400;
  font-size: 1.8rem;
  text-transform: none;
  color: var(--lt-color-gray-500);
  text-align: center;

  &__view {
    background-color: var(--lt-color-gray-200);
    border: 1px solid var(--lt-color-gray-300);
  }
}