@mixin tabs {
  text-transform: none;

  &__active {
    color: var(--lt-color-gray-700);
    border-bottom: 1px solid var(--lt-color-gray-700)!important;
  }

  &__list {
    display: flex;
    align-items: center;

    color: var(--lt-color-gray-500);
    border-bottom: 1px solid var(--lt-color-gray-300);
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    li {
      padding: 32px;

      font-weight: 600;
      border-bottom: 1px solid var(--lt-color-gray-100);
      cursor: pointer;
      user-select: none;
    }
  }

  &__panel {
    margin: 32px 0;
  }
}